{# @CeradTourn/ResultsPoolPlay/ResultsPoolPlayTeams.html.twig #}
<table class="results" border = "1">
  <thead>
<tr class="tbl-title"><th colspan="16">Game Pool Scores - {{ poolKey }}</th></tr>
<tr class="tbl-hdr">
    <th>Num</th>
    <th>Game</th>
    <th>Report</th>
    <th>DOW Time</th>
    <th>Field</th>
    <th>Pool</th>
    <th>Home/Away Team</th>
    <th>GS</th>
    <th>SP</th>
    <th>YC</th>
    <th>RC</th>
    <th>TE</th>
    <th>PE</th>
</tr>
</thead>

{% for game in pool.games %}

  <tr id="ref-sched-{{game.num}}" class="game-status-{{game.status}}">

{% if is_granted('ROLE_SCORE_ENTRY') %}
    <td><a href="{{ path('cerad_tourn_game_report_update', { num: game.num }) }}">{{ game.num }}</a></td>
{% else %}
    <td>{{ game.num }}</td>
{%endif %}
    <td>{{ game.status         }}</td>
    <td>{{ game.report.status  }}</td>
    <td>{{ game.dtBeg.format('D') }} {{ game.dtBeg.format('g:i A') }}</td>
    <td>{{ game.field.name     }}</td>
    <td>{{ game.group          }}</td>

    {% set homeTeam = game.homeTeam %}
    {% set awayTeam = game.awayTeam %}

    {% set homeTeamReport = homeTeam.report %}
    {% set awayTeamReport = awayTeam.report %}

    <td>{{ homeTeam.name }}<br/>{{ awayTeam.name }}</td>
    <td>{{ homeTeamReport.goalsScored     }}<br/>{{ awayTeamReport.goalsScored     }}</td>
    <td>{{ homeTeamReport.sportsmanship   }}<br/>{{ awayTeamReport.sportsmanship   }}</td>
    <td>{{ homeTeamReport.playerWarnings  }}<br/>{{ awayTeamReport.playerWarnings  }}</td>
    <td>{{ homeTeamReport.playerEjections }}<br/>{{ awayTeamReport.playerEjections }}</td>
    <td>{{ homeTeamReport.totalEjections  }}<br/>{{ awayTeamReport.totalEjections  }}</td>
    <td>{{ homeTeamReport.pointsEarned    }}<br/>{{ awayTeamReport.pointsEarned    }}</td>
  </tr>

{% endfor %}
</table>

