{# @CeradTourn/GameReport/Update/GameReportUpdateIndex.html.twig   #}
{% extends '@CeradTourn/Layout.html.twig' %}

{% block content %}
<h2>Game Report:
{{ game.dtBeg.format('D') }}, {{ game.dtBeg.format('g:i A') }},
{{ game.field.name }}, {{ game.levelId }}, #{{ game.num }}
</h2>
<form
    action="{{ path('cerad_tourn_game_report_update', { 'num': game.num }) }}"
    method="post" {{ form_enctype(form) }}
>
{% set homeTeam     = game.homeTeam %}
{% set awayTeam     = game.awayTeam %}
{% set homeTeamForm = form.homeTeamReport %}
{% set awayTeamForm = form.awayTeamReport %}

<table class="scoring" border="1" style="width: 500px;">
    <tr><td>&nbsp;</td><td>{{ homeTeam.role }}</td><td>{{ awayTeam.role }}</td></tr>
    <tr><td>&nbsp;</td><td>{{ homeTeam.name }}</td><td>{{ awayTeam.name }}</td></tr>
    <tr>
        <td>Goals Scored</td>
        <td>{{ form_widget(homeTeamForm.goalsScored) }}</td>
        <td>{{ form_widget(awayTeamForm.goalsScored) }}</td>
    </tr>
    <tr>
        <td>Player Cautions</td>
        <td>{{ form_widget(homeTeamForm.playerWarnings) }}</td>
        <td>{{ form_widget(awayTeamForm.playerWarnings) }}</td>
    </tr>
    <tr>
        <td>Player Sendoffs</td>
        <td>{{ form_widget(homeTeamForm.playerEjections) }}</td>
        <td>{{ form_widget(awayTeamForm.playerEjections) }}</td>
    </tr>
    <tr><td>Coach Ejections</td>
        <td>{{ form_widget(homeTeamForm.coachEjections) }}</td>
        <td>{{ form_widget(awayTeamForm.coachEjections) }}</td>
    </tr>
    <tr><td>Substitute Ejections</td>
        <td>{{ form_widget(homeTeamForm.benchEjections) }}</td>
        <td>{{ form_widget(awayTeamForm.benchEjections) }}</td>
    </tr>
    <tr><td>Spectator Ejections</td>
        <td>{{ form_widget(homeTeamForm.specEjections) }}</td>
        <td>{{ form_widget(awayTeamForm.specEjections) }}</td>
    </tr>
   <tr><td colspan="5">&nbsp;</td></tr>
    <tr>
        <td>Points Earned</td>
        <td>{{ form_widget(homeTeamForm.pointsEarned) }}</td>
        <td>{{ form_widget(awayTeamForm.pointsEarned) }}</td>
    </tr>
    <tr>
        <td>Points Minus</td>
        <td>{{ form_widget(homeTeamForm.pointsMinus) }}</td>
        <td>{{ form_widget(awayTeamForm.pointsMinus) }}</td>
    </tr>
    <tr><td colspan="5">&nbsp;</td></tr>
    <tr>
        <td>Sportsmanship</td>
        <td>{{ form_widget(homeTeamForm.sportsmanship) }}</td>
        <td>{{ form_widget(awayTeamForm.sportsmanship) }}</td>
    </tr>
</table>
<br />
<div style="padding-left: 5px;">
    {{ form_widget(form.gameReport.text) }}
</div>
<br />
<table><tr>
    <td>{{ form_row(form.game.status) }}      <td>
    <td>{{ form_row(form.gameReport.status) }}</td>
    <td><input type="submit" name="gameReportUpdate" value="Save" /></td>
    <td><a href="{{ path('cerad_tourn_results_poolplay') }}">Return to Pool Play Results</a></td>
</tr></table>
<div style="display: none;">{{ form_rest(form) }}</div>
</form>
<hr />
<div id="notes">
  <h5>SCORING NOTES</h5>
  <ul>
      <li>Enter score and othe info then press Save</li>
      <li>Points earned will be calculated</li>
      <li>Status fields will update themselves</li>
      <br/>
      <li>Player Cautions: No impact</li>
      <li>Player Sendoffs: -1 points per sendoff</li>
      <li>Coach/Substitute/Spectator Ejectionss: - points per ejection</li>
      <li>FORFEIT: Score as 1-0</li>
  </ul>
</div>
<br>

{% endblock %}{# end content block #}
