{# @CeradTourn/Schedule/Search/ScheduleSearchList.html.twig #}

<div class="schedule-game-list">
    <table class="schedule" border="1" style="max-width: 850px;">
    <thead>
        <tr class="tbl-title" ><th colspan="30">Game Schedule - Count: {{ games | length }}</th></tr>
        <tr class="tbl-hdr">
            <th>Game</th>
            <th>DOW</th>
            <th>Time</th>
            <th>Field</th>
          {#<th>Div</th>#}
            <th>Pool</th>
            <th>Home vs Away Teams</th>
        </tr>
    </thead>
    <tbody>
        {% for game in games %}
<?php echo 'here'; die(); ?>
        <tr id="ref-sched-{{game.num}}" class="game-status-{{game.status}}">
            <td>
                {% if is_granted('ROLE_SCORE_ENTRY') %}
                <a href="{{ path('cerad_tourn_game_report_update', { 'num': game.num })}}">{{ game.num }}</a>
                {% else %}
                {{ game.num }}
                {% endif %}
                {% if is_granted('ROLE_SCORE_ADMIN') %}
                <br />
                <a href="{{ path('cerad_game__project__game__update__by_scorer', { '_game': game.num, '_project': 's1games' })}}">Update</a>
                {% endif %}
            </td>
            <td>{{ game.dtBeg.format('D'    ) }}</td>
            <td>{{ game.dtBeg.format('H:i A') }}</td>

            <td><a href="http://ayso1ref.com/lib/pdf/Riverside_Ab_Brown.pdf" target="_parent|_blank">{{ game.field.name }}</a></td>
          {#<td>{{ game.levelId    }}</td>#}
            <td>{{ game.group      }}</td>
            <td style="text-align: center">{{ game.teams[1].name}} vs {{ game.teams[2].name}} </td>
       </tr>
        {% endfor %}{# games #}
    </tbody>
    </table>
</div>
{% block javascripts %}
    <script type="text/javascript">
$(document).ready(function()
{
    // checkbox all functionality
    $('.cerad-checkbox-all').change(Cerad.checkboxAll);
/*
    // Support using datatables
    $('#schedule').dataTable(
    {
        "bPaginate": false,
        "bLengthChange": false,
        "bFilter": false,
        "bSort": true,
        "bInfo": false,
        "bAutoWidth": false,
        "aaSorting": [[ 2, "asc" ],[ 5, "asc" ],[ 4, "asc" ]]
    });
*/
});
</script>
{% endblock %}