{# @CeradTourn/Schedule/Official/ScheduleOfficialSlot.html.twig #}
{# Called for each official slot, know have at least user role #}

{% set gameOfficialName  = gameOfficial.personNameFull %}
{% set gameOfficialState = gameOfficial.state | slice(0,3) %}
{% if  gameOfficialName == null %}
  {% set out = '____' %}
{% else %} 
  {% set out =  gameOfficialName ~ '[' ~ gameOfficialState ~ ']' %} 
{%endif %}
{% if is_granted('ROLE_ASSIGNOR') %}
  <a href="{{ path('cerad_game__project__game_officials__assign_by_assignor', 
    { '_game': game.num, '_project' : 's1games' }) }}">{{ out }}</a><br />
{% if gameOfficial.isUserUpdateable %}           
  <a href="{{ path('cerad_game__project__game_official__assign_by_user', 
    { '_game': game.num, '_game_official' : gameOfficial.slot,  '_project' : 's1games' }) }}">{{ out }}</a>
{% endif %}
{% else  %}
{% if gameOfficial.isUserUpdateable %}           
  <a href="{{ path('cerad_game__project__game_official__assign_by_user', 
    { '_game': game.num, '_game_official' : gameOfficial.slot,  '_project' : 's1games' }) }}">{{ out }}</a>
{% else %}
  {{ out }}
{% endif %}
{% endif %}          
