{# @CeradAppAdmin/Persons/List/PersonsListIndex.html.twig   #}
{% extends '@CeradAppAdmin/Layout.html.twig' %}

{% block content %}
<style>
.aysov_mem_year-FS2013 { background-color: lightgreen; }
.certSafeHaven_badge-AYSO { background-color: lightgreen; }
.certSafeHaven_badge-Coach { background-color: lightgreen; }
.certSafeHaven_badge-Referee { background-color: lightgreen; }
</style>
{% set hrefLink = path(link, { '_format': 'xls'}) %}
<div style="padding:0 2em 1em 2em; float: left;"><a href={{ hrefLink }}>Export to Excel</a></div>
<div style="padding:0 2em 1em 2em; float: right;"><a href={{ path('cerad_tourn_admin_unapproved_persons_list') }}>View Unverified Registered Persons</a></div>

<!--
<div style="padding: 0 2em 1em 0; float: left;"><a href="{{ path('cerad_tourn_admin_persons_list', { '_format': 'csv'}) }}"> Export to Text</a></div>
-->

<table id="person-list" class="app_table">
<thead>
<tr><th colspan="20">Registered Persons List - Count: {{ persons | length }}</th></tr>
<tr>
    <!--<th>Update</th>-->
    <th style="width:30%">Account</th>
    <th style="width:30%">Person</th>
    <th style="width:20%; min-width: 150px">AYSO Information</th>
    <th style="width:20%; min-width: 150px">Plans</th>
</tr>
</thead>
<tbody>
{% for person in persons  %}
{% set name = person.name %}
{% set user = cerad_tourn_get_user_for_person(person) %}
{% set personFed     = person.fed(fedRole) %}
{% set certReferee   = personFed.certReferee %}
{% set certSafeHaven = personFed.certSafeHaven %}
{% set plan          = person.plan(project.id) %}

<tr id="person-{{person.id}}">
    <td style="vertical-align: top;">
        <p>Username: {{ user.username }}</p>
        <p>Email: {{ user.email       }}</p>
        <p>Account Name: {{ user.accountName }}</p>
        <p>Role: {{ user.roles|join(',') }}</p>
    </td>
    <td style="vertical-align: top;">
        <p>Name: <a href="{{ path('cerad_tourn_admin_person_plan_update',{ 'person' : person.id }) }}">{{ name.full }}</a></p>
        <p>First: {{ name.first   }}</p>
        <p>Last: {{ name.last    }}</p>
        <p>Email: {{ person.email }}</p>
        <p>Phone: {{ person.phone | cerad_phone }}</p>
        <!--<p>Gender & Age</td><td>{{ person.gender }} {{ person.age }}</p>-->
    </td>
    <td style="vertical-align: top;">
        <p>Vol: {{ personFed.fedKey | slice(5) }} {{ personFed.fedKeyVerified }}</p>
        <p>S/A/R: {{ personFed.orgKey | cerad_org_sar }}</p>
        <p>MY: <span class="aysov_mem_year-{{ personFed.memYear }}">{{ personFed.memYear }}</span></p>
        <p>SH: <span class="certSafeHaven_badge-{{ certSafeHaven.badge | default("na") }}">{{ certSafeHaven.badge }}</span></p>
        <p>REF: {{ certReferee.badge | replace('_', ' ') }}</p>
    </td>
    <td style="vertical-align: top;">
        <p>Will Attend:  {{ plan.willAttend | cerad_plan_attending_desc }}</p>
        <p>Will Referee: {{ plan.willReferee }}</p>
        <p>Will Mentor:  {{ plan.willMentor  }}</p>
        <p>Want Mentor:  {{ plan.wantMentor  }}</p>
        <p>Shirt Size:   {{ plan.shirtSize   }}</p>
    </td>
</tr>
{% endfor %} {# persons #}
</tbody>
</table>

{% endblock %}{# end content block #}
