{# @CeradTournAdmin/Persons/List/PersonsListIndex.html.twig   #}
{% extends '@CeradTournAdmin/Layout.html.twig' %}

{% block content %}
<style>
.aysov_mem_year-FS2013 { background-color: lightgreen; }
.certSafeHaven_badge-AYSO { background-color: lightgreen; }
.certSafeHaven_badge-Coach { background-color: lightgreen; }
.certSafeHaven_badge-Referee { background-color: lightgreen; }
</style>
<div style="padding:0 2em 1em 2em; float: left;"><a href="{{ path('cerad_tourn_admin_persons_list', { '_format': 'xls'}) }}">Export to Excel</a></div>
<!--<div style="padding: 0 2em 1em 0; float: left;"><a href="{{ path('cerad_tourn_admin_persons_list', { '_format': 'csv'}) }}"> Export to Text</a></div>
-->

<table id="person-list" class="app_table">
<thead>
<tr><th colspan="20">Registered Persons List - Count: {{ persons | length }}</th></tr>
<tr>
    <!--<th>Update</th>-->
    <th style="width:30%">Account</th>
    <th style="width:30%">Person</th>
    <th style="width:20%; min-width: 150px">AYSO Information</th>
    <th style="width:20%; min-width: 150px">Plans</th>
</tr>
</thead>
<tbody>
{% for person in persons  %}
{% set name = person.name %}
{% set user = cerad_tourn_get_user_for_person(person) %}
{% set personFed     = person.fed(fedRole) %}
{% set certReferee   = personFed.certReferee %}
{% set certSafeHaven = personFed.certSafeHaven %}
{% set plan          = person.plan(project.id) %}

<tr id="person-{{person.id}}">
    <td style="vertical-align: top;">
        <p>Username: {{ user.username }}</p>
        <p>Email: {{ user.email       }}</p>
        <p>Account Name: {{ user.accountName }}</p>
        <p>Role: {{ user.roles|join(',') }}</p>
    </td>
    <td style="vertical-align: top;">
        <p>Name: <a href="{{ path('cerad_tourn_admin_person_plan_update',{ 'person' : person.id }) }}">{{ name.full }}</a></p>
        <p>First: {{ name.first   }}</p>
        <p>Last:  {{ name.last    }}</p>
        <p>Email: {{ person.email }}</p>
        <p>Phone: {{ person.phone | cerad_phone }}</p>
        <!--<p>Gender & Age</td><td>{{ person.gender }} {{ person.age }}</p>-->
    </td>
    <td style="vertical-align: top;">
    <table border="1">
        <tr><td>Person:</td><td>{{ name.full                        }}</td><td>{{ personFed.personVerified}}</td></tr>
        <tr><td>Vol:   </td><td>{{ personFed.fedKey | slice(5)      }}</td><td>{{ personFed.fedKeyVerified}}</td></tr>
        <tr><td>S/A/R: </td><td>{{ personFed.orgKey | cerad_org_sar }}</td><td>{{ personFed.orgKeyVerified}}</td></tr>
        <tr><td>MY:</td>
            <td><span class="aysov_mem_year-{{ personFed.memYear }}">{{ personFed.memYear }}</span></td>
            <td>&nbsp;</td>
        </tr>
        <tr><td>SH:</td>
            <td><span class="certSafeHaven_badge-{{ certSafeHaven.badge | default("na") }}">{{ certSafeHaven.badge }}</span></td>
            <td>&nbsp;</td>
        </tr>
        <tr><td>REF:</td><td>{{ certReferee.badge }}</td><td>{{ certReferee.badgeVerified}}</td></tr>
    </table>
    </td>
    <td style="vertical-align: top;">
        <p>Will Attend:  {{ plan.willAttend  }}</p>
        <p>Will Referee: {{ plan.willReferee }}</p>
        <p>Will Mentor:  {{ plan.willMentor  }}</p>
        <p>Want Mentor:  {{ plan.wantMentor  }}</p>
        <p>Shirt Size:   {{ plan.shirtSize   }}</p>
    </td>
</tr>
{% endfor %} {# persons #}
</tbody>
</table>

{% endblock %}{# end content block #}
