{# @CeradTourn/Schedule/Official/Assign/ScheduleOfficialAssignIndex.html.twig #}
{% extends '@CeradTourn/Layout.html.twig' %}

{% block content %}
<style>
table.assign
{
    width: 700px;
    color: red;
}
</style>
<table class="assign">
<tr><th colspan="3">Game: {{ game.num }} </th></tr>
<tr><td>Date/Time</td><td>{{ game.dtBeg.format('D M d H:i A')}}</td></tr>
{{ form_start(form) }}
{% for slot in form.slots %}
<tr><td colspan="5">{{ form_widget(slot.role) }}
        {{ form_widget(slot.personNameFull) }}{{ form_widget(slot.personGuid) }}{{ form_widget(slot.state) }}
    </td>
</tr>
{% endfor %}
<tr><td><a href="{{ path('cerad_tourn_schedule_official_list') }}">Back to Schedule</a></td><td>{{ form_widget(form.assign) }}</td></tr>
{{ form_rest(form) }}
{{ form_end(form)  }}
</table>

{% endblock %}