{# @CeradTourn/Layout.html.twig #}
{% extends '@CeradApp/Base.html.twig' %}

{% block stylesheetsx %}
<link rel="stylesheet" href="{# asset('bundles/ceradtourns/css/tourns.css') #}" media="all" />
{% endblock %}

{% block layout_body %}
<div id="layout-body">

{% if cerad_tourn_show('layout_header') %}
{% block layout_header %}
<div id="layout-header">
    {% render(controller('CeradTournBundle:Tourn/TournHeader:render')) %}
</div>
{% endblock %}
{% endif %}

{% set islocal = cerad_tourn_is_local() %}

{% if 'local.zayso.org' in islocal %}
<div id="droplinetabs1" class="droplinebar">
<ul >
  <li>
    <a href="{{ url('cerad_tourn_home') }}">Home</a>
  </li>
  <li>
    <a href="http://ayso1ref.com/lib/pdf/Riverside_Ab_Brown.pdf" target="_blank">Fields</a>
  </li>
  <li><a href="{{ url('cerad_tourn_schedule_list') }}">Schedule</a>
  </li>
  <li><a href="{{ path('cerad_tourn_results_poolplay') }}">Pool Play</a>
    <ul>
      <li><a href="{{ path('cerad_tourn_results_poolplay', { 'program': 'League'}) }}">League</a>
        <ul>
          <a href="{{ path('cerad_tourn_results_poolplay', { 'div': 'AYSO_U10B_League'}) }}">U10 Boys </a>
          <a href="{{ path('cerad_tourn_results_poolplay', { 'div': 'AYSO_U10G_League'}) }}">U10 Girls</a>
          <a href="{{ path('cerad_tourn_results_poolplay', { 'div': 'AYSO_U12B_League'}) }}">U12 Boys </a>
          <a href="{{ path('cerad_tourn_results_poolplay', { 'div': 'AYSO_U12G_League'}) }}">U12 Girls</a>
          <a href="{{ path('cerad_tourn_results_poolplay', { 'div': 'AYSO_U14B_League'}) }}">U14 Boys </a>
          <a href="{{ path('cerad_tourn_results_poolplay', { 'div': 'AYSO_U14G_League'}) }}">U14 Girls</a>
        </ul>
      </li>
      <li><a href="{{ path('cerad_tourn_results_poolplay', { 'program': 'AllStars'}) }}">All-Stars</a>
        <ul>
          <a href="{{ path('cerad_tourn_results_poolplay', { 'div': 'AYSO_U10B_AllStars'}) }}">U10 Boys </a>
          <a href="{{ path('cerad_tourn_results_poolplay', { 'div': 'AYSO_U10G_AllStars'}) }}">U10 Girls</a>
          <a href="{{ path('cerad_tourn_results_poolplay', { 'div': 'AYSO_U12B_AllStars'}) }}">U12 Boys </a>
          <a href="{{ path('cerad_tourn_results_poolplay', { 'div': 'AYSO_U12G_AllStars'}) }}">U12 Girls</a>
          <a href="{{ path('cerad_tourn_results_poolplay', { 'div': 'AYSO_U14B_AllStars'}) }}">U14 Boys </a>
          <a href="{{ path('cerad_tourn_results_poolplay', { 'div': 'AYSO_U14G_AllStars'}) }}">U14 Girls</a>
        </ul>
      </li>
<!--
  <li><a href="cerad_tourn_results_poolplay">Extra</a>
        <ul>
          <a href="{{ path('cerad_tourn_results_poolplay', { 'div': 'AYSO_U10B_Extra'}) }}">U10 Boys </a>
          <a href="{{ path('cerad_tourn_results_poolplay', { 'div': 'AYSO_U10G_Extra'}) }}">U10 Girls</a>
          <a href="{{ path('cerad_tourn_results_poolplay', { 'div': 'AYSO_U11B_Extra'}) }}">U11 Boys </a>
          <a href="{{ path('cerad_tourn_results_poolplay', { 'div': 'AYSO_U11G_Extra'}) }}">U11 Girls</a>
          <a href="{{ path('cerad_tourn_results_poolplay', { 'div': 'AYSO_U12B_Extra'}) }}">U12 Boys </a>
          <a href="{{ path('cerad_tourn_results_poolplay', { 'div': 'AYSO_U12G_Extra'}) }}">U12 Girls</a>
          <a href="{{ path('cerad_tourn_results_poolplay', { 'div': 'AYSO_U13B_Extra'}) }}">U13 Boys </a>
          <a href="{{ path('cerad_tourn_results_poolplay', { 'div': 'AYSO_U14G_Extra'}) }}">U13 Girls</a>
          <a href="{{ path('cerad_tourn_results_poolplay', { 'div': 'AYSO_U14B_Extra'}) }}">U14 Boys </a>
          <a href="{{ path('cerad_tourn_results_poolplay', { 'div': 'AYSO_U14G_Extra'}) }}">U14 Girls</a>
        </ul>
      </li>
-->
    </ul>
  <li><a href="{{ url('cerad_tourn_results_playoff') }}">Playoffs</a>
    <ul>
      <li><a href="{{ url('cerad_tourn_results_playoff', { 'program': 'League'}) }}">League</a>
        <ul>
          <a href="{{ path('cerad_tourn_results_playoff', { 'div': 'AYSO_U10B_League'}) }}">U10 Boys </a>
          <a href="{{ path('cerad_tourn_results_playoff', { 'div': 'AYSO_U10G_League'}) }}">U10 Girls</a>
          <a href="{{ path('cerad_tourn_results_playoff', { 'div': 'AYSO_U12B_League'}) }}">U12 Boys </a>
          <a href="{{ path('cerad_tourn_results_playoff', { 'div': 'AYSO_U12G_League'}) }}">U12 Girls</a>
          <a href="{{ path('cerad_tourn_results_playoff', { 'div': 'AYSO_U14B_League'}) }}">U14 Boys </a>
          <a href="{{ path('cerad_tourn_results_playoff', { 'div': 'AYSO_U14G_League'}) }}">U14 Girls</a>
        </ul>
      </li>
      <li><a href="{{ url('cerad_tourn_results_playoff', { 'program': 'AllStars'}) }}">All-Stars</a>
        <ul>
          <a href="{{ path('cerad_tourn_results_playoff', { 'div': 'AYSO_U10B_AllStars'}) }}">U10 Boys </a>
          <a href="{{ path('cerad_tourn_results_playoff', { 'div': 'AYSO_U10G_AllStars'}) }}">U10 Girls</a>
          <a href="{{ path('cerad_tourn_results_playoff', { 'div': 'AYSO_U12B_AllStars'}) }}">U12 Boys </a>
          <a href="{{ path('cerad_tourn_results_playoff', { 'div': 'AYSO_U12G_AllStars'}) }}">U12 Girls</a>
          <a href="{{ path('cerad_tourn_results_playoff', { 'div': 'AYSO_U14B_AllStars'}) }}">U14 Boys </a>
          <a href="{{ path('cerad_tourn_results_playoff', { 'div': 'AYSO_U14G_AllStars'}) }}">U14 Girls</a>
        </ul>
      </li>
      <li><a href="{{ url('cerad_tourn_results_playoff', { 'program': 'Extra'}) }}">Extra</a>
        <ul>
          <a href="{{ path('cerad_tourn_results_playoff', { 'div': 'AYSO_U10B_Extra'}) }}">U10 Boys </a>
          <a href="{{ path('cerad_tourn_results_playoff', { 'div': 'AYSO_U10G_Extra'}) }}">U10 Girls</a>
          <a href="{{ path('cerad_tourn_results_playoff', { 'div': 'AYSO_U11B_Extra'}) }}">U11 Boys </a>
          <a href="{{ path('cerad_tourn_results_playoff', { 'div': 'AYSO_U11G_Extra'}) }}">U11 Girls</a>
          <a href="{{ path('cerad_tourn_results_playoff', { 'div': 'AYSO_U12B_Extra'}) }}">U12 Boys </a>
          <a href="{{ path('cerad_tourn_results_playoff', { 'div': 'AYSO_U12G_Extra'}) }}">U12 Girls</a>
          <a href="{{ path('cerad_tourn_results_playoff', { 'div': 'AYSO_U13B_Extra'}) }}">U13 Boys </a>
          <a href="{{ path('cerad_tourn_results_playoff', { 'div': 'AYSO_U14G_Extra'}) }}">U13 Girls</a>
          <a href="{{ path('cerad_tourn_results_playoff', { 'div': 'AYSO_U14B_Extra'}) }}">U14 Boys </a>
          <a href="{{ path('cerad_tourn_results_playoff', { 'div': 'AYSO_U14G_Extra'}) }}">U14 Girls</a>
        </ul>
      </li>
    </ul>

  <li style="float:right"><a href="http://ayso1ref.com/s1_games/contact" target="_blank">Contact Us</a></li>
  <li style="float:right"><a href="http://ayso1ref.com/s1_games/sms" target="_blank">Text Alerts</a></li>
  <li style="float:right"><a href="{{ url('cerad_tourn_welcome') }}">Login</a></li>
</ul>
</div>

{% endif %}

{% if cerad_tourn_show('layout_userinfo') %}
{% block layout_userinfo %}
<div id="layout-userinfo">
    {% render(controller('CeradTournBundle:Tourn/TournUserInfo:render')) %}
</div>
{% endblock %}
{% endif %}

{% if cerad_tourn_show('layout_topmenu') %}
{% block layout_topmenu %}
<div id="layout-topmenu">
    {% render(controller('CeradTournBundle:Tourn/TournTopMenu:render')) %}
</div>
{% endblock %}
{% endif %}


<div id="layout-content">{% block content %}{% endblock %}</div>

</div>
{% endblock %} {# end body block #}
