{# @CeradTourn/Tourn/TopMenu/TournTopMenuIndex.html.twig   #}
{% if is_granted('ROLE_USER') %}
<div id="droplinetabs1" class="droplinebar">
<ul >
  <li class="float-right">
    <a href="{{ path('cerad_tourn_user_logout') }}">Logout</a>
  </li>
{% if is_granted('ROLE_ADMIN') %}
  <li class="float-right">
    <a href="{{ path('cerad_tourn_admin') }}">Admin</a>
  </li>
{% endif %}
  <li class="float-right">
    <a href="{{ path('cerad_tourn_schedule_official_list') }}">My Schedule</a>
  </li>
  <li class="float-right">
    <a href="{{ path('cerad_tourn_person_plan_update') }}">My Plan</a>
  </li>
  <li class="float-right">
    <a href="{{ path('cerad_tourn_person_update') }}">My Account</a>
  </li>
  <li class="float-right">
    <a href="{{ path('cerad_tourn_home') }}">My Info</a>
  </li>
{#
{% else %}
  <li class="float-right">
    <a href="{{ path('cerad_tourn_home') }}">Login</a>
  </li>
#}
</ul>
</div>
{% endif %}