{# @CeradTourn/Tourn/TopMenu/TournTopMenuIndex.html.twig   #}
<div id="droplinetabs1" class="droplinebar">
<ul >
{% if is_granted('ROLE_USER') %}
  <li class="float-right">
    <a href="{{ path('cerad_tourn_user_logout') }}">Logout</a>
  </li>
  <li class="float-right">
    <a href="{{ path('cerad_tourn_schedule_official_list') }}">My Schedule</a>
  </li>
  <li class="float-right">
    <a href="{{ path('cerad_tourn_person_plan_update') }}">My Plan</a>
  </li>
  <li class="float-right">
    <a href="{{ path('cerad_tourn_person_update') }}">My Account</a>
  </li>
  <li class="float-right">
    <a href="{{ path('cerad_tourn_home') }}">Home</a>
  </li>
{% else %}
  <li class="float-right">
    <a href="{{ path('cerad_tourn_home') }}">Login</a>
  </li>
{% endif %}
</ul>
</div>
